/* SETUP */

* {
    padding: 0;
    margin: 0;
}

/* LAYOUT AND COLOR */

body {
    background-color: #000;
}

/* INITIAL CANVAS SETUP */

#canvas-div {
    display: grid;
    place-items: center;
}

canvas {
    border: 1px solid #fff;
    grid-area: 1/1;
}

#background-canvas {
    z-index: 1;
}

#shader-canvas {
    z-index: 2;
}

#foreground-canvas {
    z-index: 3;
}

/* TEXT STYLES */

@font-face {
    font-family: 'PacMan1980';
    src: url('../fonts/Pac-Man1980-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'PacMan1980';
    text-align: center;
    color: #fff;
    margin: 1em;
}